@font-face {
  font-family: "iconfont"; /* Project id 3618292 */
  src: url('./iconfont/iconfont.woff2?t=1661877632854') format('woff2'),
       url('./iconfont/iconfont.woff?t=1661877632854') format('woff'),
       url('./iconfont/iconfont.ttf?t=1661877632854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconjiantouxia:before {
  content: "\e62d";
}

.iconsousuo:before {
  content: "\e632";
}

.iconfanhui:before {
  content: "\e624";
}



